{:paths ["src"]
 :deps {de.timokramer/charm.clj {:mvn/version "0.2.69"}}
 :tasks {run {:doc "Run eca-bb"
              :task (exec 'eca-bb.core/-main)}
         nrepl {:doc "Start nREPL for development"
                :task (exec 'nrepl.cmdline/-main)}}}
